@use "../foundation/mixin" as *;
@use "../foundation/variable" as *;


.l-footer {
    width: 100%;
    padding-block: 4.5rem 5rem;
    display: grid;
    place-content: center;

    @include pc {
        padding-block: 4.55rem;
    }
}