@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;



.p-error{
    &__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    
    &__text{
        text-align: center;
    }
   
}}