@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;




.p-blog-list {
    &__container {
        padding-block: 4.5rem 20.1rem;

        @include pc {
            padding-block: 6.8rem 21.1rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        text-align: center;
    }

    &__items {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        row-gap: 3.78rem;

        @include pc {
            margin-top: 3.5rem;
            row-gap: 7rem;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;

        @include pc {
            flex-direction: row;
            column-gap: 5rem;
        }
    }

    &__thumbnail {
        position: relative;
        width: 100%;
        height: 100%;

        @include pc {
            flex: 0 0 26rem;
        }
    }

    &__image {
        aspect-ratio: 335/200;

        @include pc {
            aspect-ratio: 260/184;
        }

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    &__category {
        position: absolute;
        width: 9rem;
        height: 3rem;
        display: grid;
        place-content: center;
        top: 0;
        left: 0;
        background: $color-main;
        color: $color-white;
        z-index: 1;
        @include font(1.5rem, calc(25/15), $font-weight-bold);

        @include pc {
            width: 8rem;
        }
    }

    &__body {
        margin-top: 3rem;
        flex: 1;

        @include pc {
            margin-top: 0;
        }
    }

    &__date {
        margin-top: 0.5rem;
        text-align: right;

        @include pc {
            margin-top: 0;
            text-align: left;
        }
    }

    &__text {
        margin-top: 1rem;

        @include pc {
            margin-top: 1.5rem;
        }
    }
}

.p-blog-list__pagination {
    margin-top: 6rem;

    @include pc {
        margin-top: 7rem;
    }
}