@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;




.p-blog-list {
    padding-block: 8rem;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        text-align: center;
    }

    &__items {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        row-gap: 5rem;
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include pc {
            flex-direction: row;
            column-gap: 3rem;
        }
    }

    &__thumbnail {
        position: relative;
        width: 100%;
        height: 100%;

        @include pc {
            flex: 0 0 260px;
        }
    }

    &__image {
        aspect-ratio: 260/184;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    &__category {
        position: absolute;
        top: 0;
        left: 0;
        background: $color-main;
        padding: 0.5rem 1rem;
        color: $color-white;
        z-index: 1;

    }

    &__body {
        flex: 1;
    }
}