@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.p-price {
    &__container {
        padding-block: 4.5rem 18.6rem;

        @include pc {
            padding-block: 6.8rem 22rem;
        }
    }

    &__system {
        width: 100%;
        padding-inline: 2rem;
        margin-inline: auto;


        @include pc {

            max-width: 94.8rem;
            padding-inline: 3rem;

        }
    }

    &__contents {
        margin-top: 4rem;

        @include pc {
            margin-top: 3.5rem;
        }
    }

    &__summary {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 2.9rem;

        @include pc {
            flex-direction: row;
            column-gap: 4rem;
        }
    }


    &__admission {
        width: 21rem;
        height: 6rem;
        display: grid;
        place-content: center;
        background: $color-main;
        color: $color-white;
        @include font(2rem, calc(33/20), $font-weight-bold);
    }

    &__plus {
        position: relative;

        &::before {

            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-50%, -50%);
            width: 1.9rem;
            height: 1.9rem;
            background: url("../img/plan/plus.svg") no-repeat center / contain;

            @include pc {
                margin-top: 0.5rem;
            }
        }
    }

    &__monthly {
        width: 21rem;
        height: 6rem;
        display: grid;
        place-content: center;
        background: $color-main;
        color: $color-white;
        @include font(2rem, calc(33/20), $font-weight-bold);
    }

    &__text {
        margin-top: 4.5rem;

        @include pc {
            margin-top: 4.8rem;
            @include font(1.8rem, calc(30/18), $font-weight-regular);
        }
    }
}

.p-price-plans {
    margin-top: 4rem;

    @include pc {
        margin-top: 5.8rem;
    }

    &__contents {
        padding-bottom: 2rem;
        overflow-x: scroll;

        // 標準スクロールバーを非表示
        scrollbar-width: none;

        @include pc {
            margin-top: 3.5rem;
            padding-bottom: 1rem;
            overflow-x: hidden;
        }
    }

    &__table {
        margin-top: 3.5rem;




        @include pc {
            margin-top: 2.8rem;
            width: 100%;
        }


        tr {
            display: flex;
            height: 8.5rem;

            &:first-of-type {
                height: 6.6rem;
            }


            th {

                flex: 0 0 50%;
                display: flex;
                align-items: center;

                @include pc {
                    flex: 0 0 25%;
                    @include font(1.7rem, calc(30/17), $font-weight-regular);
                }

   
            }

            td {
                flex: 0 0 50%;
                display: grid;
                place-content: center;

                @include pc {
                    flex: 0 0 25%;
                }
            }

            th,
            td {
                &:not(:first-child) {
                    border-left: 0.1rem solid $color-base;
                    @include pc{
                        border-left: 0.05rem solid $color-base;
                    }
                }
            }
        }
    }

    &__recommend {
        position: relative;
        z-index: 2;

        span {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            text-align: center;
            width: 100%;
            padding-block: 0.75rem;
            background: $color-main;
            bottom: 0;
            z-index: 2;
            color: $color-white;
            @include font(2rem, calc(25/20), $font-weight-bold);

            @include pc {
                padding-block: 0.7rem;
                @include font(2rem, calc(33/20), $font-weight-bold);
            }

 
        }
    }


    &__plan-bg {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        z-index: 2;


        span {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
            text-align: center;
            color: $color-white;
            background: $color-base;
            @include font(2rem, calc(25/20), $font-weight-bold);



            @include pc {
                padding-block: 0.85rem;
                height: auto;
                @include font(2rem, calc(33/20), $font-weight-bold);
            }



        }
    }
}



.p-price-plans__note {
    margin-top: 1.5rem;

    @include pc {
        margin-top: 2rem;
        @include font(1.7rem, calc(25/17), $font-weight-regular);
    }
}


.table-head-empty {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.tr-bg {

    th,
    td {
        background: rgba(80, 80, 80, 0.149);
    }
}

.bottom-line {

    th,
    td {
        border-bottom: 0.5px solid $color-base;
    }
}

.p-price-plan--available {
    text-align: center;
}

.p-price-plan--none {
    width: 3rem;
    border: 0;
    border-top: 1px solid $color-base;

}

.plan__list {
    padding: 1rem;

    @include pc {
        padding: 2rem;
    }

}

.text__red {
    color: $color-main;
}

.text__price {
    @include font(2.2rem, calc(33/22), $font-weight-bold);
}

.plan__variety {
    @include font(2rem, calc(33/20), $font-weight-bold);
}

.p-price-plans__scrollbar {
    width: 100%;
    height: 2.5rem;
    background: #E3E3E3;

    @include pc {
        display: none;
    }

    &-thumb {
        width: 10rem;
        height: 2.3rem;
        background: #9B9B9B;

        touch-action: none;
        user-select: none;
        cursor: grab;

        &:active {
            cursor: grabbing;
        }
    }
}