@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

//ページ番号ナビゲーション
.p-pagination {
    /*margin-top: 5.5rem;*/
    width: 100%;
    display: flex;
    justify-content: center;

    /* @include pc {
        margin-top: 7.3rem;
    }*/

    &__item {
        display: grid;
        place-content: center;
        width: 4.4rem;
        height: 4.4rem;
        border: 1px solid $color-base;
        margin-inline: 0.2rem;

        @include font(1.6rem, calc(28/16), $font-weight-bold);

        @include pc {
            margin-inline: 0.5rem;
            width: 5rem;
            height: 5rem;
            @include font(1.8rem, calc(30/18), $font-weight-bold);
            transition: background-color 0.4s, color 0.4s;

            @media(any-hover: hover) {
                &:hover {
                    opacity: 1;
                    background: $color-base;
                    color: $color-white;
                }
            }
        }
    }

    .select {
        background: $color-base;
        color: $color-white;
    }

    &__dots {
        margin-inline: 1rem;
        display: grid;
        place-content: center;

        @include pc {
            margin-inline: 1.5rem;
        }
    }
}