@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.p-result {
    &__items {
        display: grid;
        grid-template-columns: 1fr;

        @include pc {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__item {
        width: 100%;

        @include pc {
            width: 387px;
        }
    }

    &__title {
        text-align: center;
        @include font(2.5rem, calc(40/25), $font-weight-bold);
    }
}