@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;

.p-voice {
    padding: 4.5rem 0 4.8rem;

    @include pc {
        padding: 4.5rem 0 8rem;
    }

    &__title {
        text-align: center;
    }

    &__contents {
        margin-top: 4rem;
        position: relative;
        z-index: 1;
        width: 100%;

        @include pc {
            margin-top: 3.5rem;
        }
    }
}


.p-voice-item {
    display: block;
    width: 100%;



    &:hover {
        @include pc {
            opacity: 1;

            .p-voice-item__image {
                transform: scale(1.1);
            }

            .p-voice-item__title,
            .p-voice-item__text {
                opacity: 0.7;
            }
        }
    }


    &__image {
        aspect-ratio: 335/200;

        img {
            object-fit: cover;
        }

        @include pc {
            aspect-ratio: 270/190;
            transition: transform 0.4s;

        }
    }


    &__title {
        margin-top: 3rem;
        @include font(2.2rem, calc(33/22), $font-weight-bold);
        text-align: center;
        transition: opacity 0.4s;

        @include pc {
            margin-top: 1.5rem;
            @include font(2.2rem, calc(33/22), $font-weight-bold);
        }
    }

    &__text {
        margin-top: 0.8rem;
        transition: opacity 0.4s;
        @include font(1.8rem, calc(30/18), $font-weight-medium);

        @include pc {
            margin-top: 1rem;
            @include font(1.8rem, calc(30/18), $font-weight-medium);
        }
    }
}


.swiper-wrap {
    position: relative;
    width: 100%;
    padding-inline: 2rem;
    margin-inline: auto;


    @include pc {
        max-width: 98rem;
        padding-inline: 5rem;
    }
}

.swiper-button-prev {
    position: absolute;
    z-index: 999;
    width: 2.984rem;
    background: url("../img/top/arrow-l.png") center / contain no-repeat;

}


.swiper-button-next {
    position: absolute;
    z-index: 99;
    width: 2.984rem;
    background: url("../img/top/arrow-r.png") center / contain no-repeat;


}

//標準アイコンを消す
.swiper-button-prev,
.swiper-button-next {
    .swiper-navigation-icon {
        display: none;
    }
}

.swiper-horizontal {

    .swiper-button-next,
    .swiper-button-prev,
    ~.swiper-button-next,
    ~.swiper-button-prev {
        margin-left: 0rem;
        margin-top: 0;
        top: 43%;

        @include pc {
            top: 49.2%;
        }
    }

}

@include sp {
    .swiper-horizontal {

        &.swiper-rtl .swiper-button-next,
        &.swiper-rtl~.swiper-button-next,
        &~.swiper-button-prev,
        .swiper-button-prev {
            left: 2rem;
        }
    }

    .swiper-horizontal {

        &.swiper-rtl .swiper-button-prev,
        &.swiper-rtl~.swiper-button-prev,
        &~.swiper-button-next,
        .swiper-button-next {
            right: 2rem;
        }
    }
}