@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.p-concept {
    padding-block: 6.5rem;
    text-align: center;
    
    &__title {
        @include font(3.5rem, calc(50/35));
    }
    &__contents{
        margin-top:2rem ;
        display: flex;
        flex-direction: column;
        row-gap: 3.2rem;
        p{
            @include font(1.8rem,calc(30/18))
        }

    }

}

    .p-concept-step{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 4rem;
        &__item{
            display: flex;
        }
        
    }