@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.p-faq {
    padding-block: 2.75rem 2rem;
    /*2.45rem*/


    @include pc {
        padding-block: 4rem;
    }

    &__contents {
        margin-top: 3.8rem;

        @include pc {
            margin-top: 3.6rem;
        }
    }

    &__title {
        text-align: center;
    }

    .accordion-area {
        display: flex;
        flex-direction: column;
        border-top: 0.5px solid $color-base;
    }

    .qa-title {
        border-bottom: 0.5px solid $color-base;
        position: relative;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            width: 1rem;
            height: 1rem;
            top: 50%;
            right: 1.5rem;
            border-top: 0.1rem solid $color-base;
            border-left: 0.1rem solid $color-base;

            transform: translateY(-50%) rotate(225deg);
            transition: transform 0.3s;

            @include pc {
                right: 3rem;
            }
        }

        &.active {
            &::before {
                transform: translateY(-50%) rotate(45deg);
            }
        }


        &__inner {
            width: 100%;
            display: flex;
            align-items: center;
            padding-block: 1.1rem 0.8rem;
            padding-right: 5rem;
            column-gap: 2rem;

            @include pc {
                padding-block: 1.6rem 1.3rem;
                padding-inline: 2rem;
                column-gap: 1rem;
            }

            span {
                position: relative;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 3.5rem;
                height: 3.5rem;
                background: $color-base;
                border-radius: 50%;
                color: $color-white;

                &::after {
                    content: 'Q';

                }
            }

            p {
                margin-top: 0.6rem;
                @include font(1.6rem, calc(30/16), $font-weight-medium);

                @include pc {
                    margin-top: 0.3rem;
                    @include font(1.7rem, calc(30/17), $font-weight-medium);
                }
            }
        }
    }
}


.qa-text {
    display: none;
    border-bottom: 0.5px solid $color-base;
    cursor: pointer;

    &.active {
        display: flex;
    }

    &__inner {
        width: 100%;
        display: flex;
        align-items: center;
        padding-block: 1.1rem 0.8rem;
        padding-right: 5rem;
        column-gap: 2rem;
        background: rgba(203, 0, 0, 0.102);

        @include pc {
            padding-block: 1.6rem 1.5rem;
            padding-inline: 2rem;
            column-gap: 1rem;
        }

        span {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3.5rem;
            height: 3.5rem;
            background: $color-main;
            border-radius: 50%;
            color: $color-white;

            &::after {
                content: 'A';

            }
        }

        p {
            margin-top: 0.6rem;


            color: $color-main;
            @include font(1.6rem, calc(30/16), $font-weight-bold);

            @include pc {
                margin-top: 0.3rem;
                @include font(1.7rem, calc(30/17), $font-weight-bold);
            }
        }
    }
}