@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

//ボタンの基本設定（※サイズ感は各々）
.c-button {
    background: $color-main;
    color: $color-white;
    border: 1px solid $color-main;
    transition: background-color 0.4s,color 0.4s;

    @media(any-hover: hover) {
        &:hover {
            background: $color-white;
            color: $color-main;
        }
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        @include font(1.5rem, calc(33/15), $font-weight-bold);
    }
}