@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

//横幅共通設定
.c-inner {
    width: 100%;
    padding-inline: 2rem;
    margin-inline: auto;


    @include pc {
        max-width: 94rem;
        padding-inline: 3rem;

    }
}
