@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

//横幅共通設定
.c-inner {
    width: 100%;
    padding-inline: 2rem;
    margin-inline: auto;


    @include pc {
        max-width: 94rem;
        padding-inline: 3rem;

    }
}
//TOPへ戻るボタンとお問い合わせの塊をまとめた
.c-fixed-bottons{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    right: 0;
    
    &__contact{
        width: 30rem;
    }
}
.c-page-top{
    width: 5rem;
}

//下層セクションのコンテンツ
.c-page-section {
    padding-block: 4.5rem;

    @include pc {
        padding-block: 6.8rem;
    }

    &__title {
        text-align: center;
        @include font(2.5rem, calc(40/25), $font-weight-bold);
    }

    &__contents {
        margin-top: 4rem;

        @include pc {
            margin-top: 4rem;
        }
    }
}