@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

//下層ページパンくずの設定
.c-breadcrumb {
    background: #E8E8E8;
    height: 3.6rem;
    display: flex;
    align-items: center;

    @include pc {
        height: 5rem;
    }

    ul {
        display: flex;
        column-gap: 5rem;

        @include pc {
            column-gap: 5rem;
        }

        li {
            position: relative;
            @include font(1.6rem, calc(33/16), $font-weight-medium);

            @include pc {
                @include font(1.6rem, calc(33/16), $font-weight-regular);
            }

            &:not(:last-child)::after {
                position: absolute;
                content: '>';
                top: 50%;
                right: -3.2rem;
                transform: translateY((-50%));
                color: #000;
            }
        }

    }
}

//下層ページのMV設定
.c-page-visual {
    position: relative;
    width: 100%;
    aspect-ratio: 375/300;

    @include pc {
        aspect-ratio: 1080/200;
    }

    &__image {
        position: absolute;
        width: 100%;
    }

    &__title {
        position: absolute;
        width: 100%;
        height: 100%;
        margin-top: 0.4rem;
        display: grid;
        place-content: center;
        z-index: 99;
        @include font(2.5rem, calc(60/25), $font-weight-bold);

        @include pc {
            @include font(2.5rem, calc(60/25), $font-weight-regular);
        }
    }
}



//ページ番号ナビゲーション
.c-pagination {
    margin-top: 5.04rem;
    width: 100%;
    display: flex;
    justify-content: center;
    @include pc{
        margin-top: 7rem;
    }

    &__item {
        margin-inline: 0.25rem;
        display: grid;
        place-content: center;
        width: 4.4rem;
        height: 4.4rem;
        border: 1px solid $color-base;

        @include font(1.6rem, calc(28/16), $font-weight-bold);

        @include pc {
            margin-inline: 0.5rem;
            width: 5rem;
            height: 5rem;
            @include font(1.8rem, calc(30/18), $font-weight-bold);
        }
    }
    .select{
        background: $color-base;
        color: $color-white;
    }

    &__dots {
        display: grid;
        place-content: center;
    }
}